html,
body,
#app {
    background-color: rgb(42, 42, 42);
    color: white;
}

#app {
    margin-top: 10px;
    text-align: center;
}

#title {
    margin-bottom: 35px;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#inputForm {
    margin-left: 150px;
    margin-right: 150px;
}

#rapidWords {
    margin-top: 65px;
    font-size: 5.5rem;
    margin-bottom: 200px;
}

#wpmLabel {
    margin: 10px;
    margin-top: 25px;
    font-size: medium;
}

#startButton {
    background-color: #419e44;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    transition-duration: 0.4s;
    margin-top: 30px;
}

#startButton:hover {
    background-color: #347c38;
}

#credits {
    font-size: medium;
    text-align: right;
    margin: 10px;
}