html,
body,
#app {
    background-color: rgb(42, 42, 42);
    color: white;
}

#app {
    margin-top: 5%;
    text-align: center;

}

#title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#inputForm {
    margin-left: 50px;
    margin-right: 50px;
}

#kwikWords {
    margin-top: 120px;
    font-size: xx-large;
}

#wpmLabel {
    margin: 10px;
    margin-top: 25px;
}

#startButton {
    background-color: #419e44;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    transition-duration: 0.4s;
    margin-top: 30px;
}

#startButton:hover {
    background-color: #347c38;
}